div, p, button, img, ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
button {
    cursor: pointer;
}




div.wrap {
    margin: 100px auto;
    width: 600px;
    height: 400px;
    border: 1px solid black;
    background: #fff;
    text-align: center;
}
p {
    text-align: center;
    font-size: 16px;
}
div.wrap div {
    position: relative;
    margin: 10px;
    width: 560px;
    height: 330px;
    border: 10px solid #eee;
}
#left, #right {
    position: absolute;
    top: 140px;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: white;
    background: rgba(0,0,0,0.6);
}
#left:hover, #right:hover {
    background: rgba(0,0,0,1);
} 
#left {
    left: 10px;
}
#right {
    right: 10px;
}
img {
    width: 560px;
    height: 330px;
}
#info, #desc {
    position: absolute;
    height: 30px;
    width: 560px;
    line-height: 30px;
    background-color: rgba(0,0,0,0.4);
    color: white;
}
#info {
    top: 0;
}
#desc {
    bottom: 0;
}
ul {
    display: inline-block;
}
li {
    position: relative;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.active {
    background-color: red;
}
li img {
    position: absolute;
    top: -110px;
    left: -70px;
    width: 150px;
    height: 100px;
    position: absolute;
    display: none;
}