div {
    margin: 100px auto;
    padding: 0;
    width: 360px;
    height: 720px;
    position: relative;
    overflow: hidden;
}
button {
    position: absolute;
    left: 0;
    width: 360px;
    height: 30px;
    background-color: rgb(212, 212, 212);
    background-repeat: no-repeat;
    background-position-x: 168px;
    background-position-y: 3px;
    border: none;
    cursor: pointer;
}
img {
    position: absolute;
    top: 30px;
    left: 0;
}
#up:hover, #down:hover {
    background-color: rgb(114, 114, 255);
}
#up {
    top: 0;
    background-image: url(img/up.ico);
    z-index: 1;
}
#down {
    bottom: 0;
    background-image: url(img/down.ico);
}