ul, h2 {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
#list {
    width: 300px;
    border: solid 1px black;
    margin: 0 auto;
}
#list h2 {
    background: url(img/ico1.gif) no-repeat 5px center cornflowerblue;
    height: 30px;
    line-height: 30px;
    text-indent: 20px;
    cursor: pointer;
}
#list .active {
    background: url(img/ico2.gif) no-repeat 5px center darkgoldenrod;
}
#list .hover {
    background: lawngreen;
}
#list ul {
    display: none;
}
#list ul li {
    line-height: 24px;
    border-bottom: 1px solid black;
    text-indent: 24px;
    cursor: pointer;
}