div, ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
#wrap {
    margin: 300px auto;
    width: 400px;
    height: 150px;
    border: 1px solid black;
    background: rgba(128, 128, 128, 0.2);
    position: relative;
}
#nav {
    margin: 5px;
    height: 30px;
    font-size: 0;
}
#nav li {
    position: absolute;
    top: 5px;
    display: inline-block;
    width: 50px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
    z-index: 1;
    cursor: pointer;
}
#nav .active {
    border-bottom: 1px solid transparent;
    background: white;
}
#nav li:first-child {
    left: 5px;
}
#nav li:nth-child(2) {
    left: 56px;
}
.content {
    position: absolute;
    top:36px;
    left: 5px;
    margin: 0 auto;
    padding: 5px;
    width: 378px;
    font-size: 0;
    background: white;
    border: 1px solid black;
    display: none;
}
.content img {
    width: 180px;
    height: 96px;
    vertical-align: top;
}
.content ul {
    margin-left: 5px;
    display: inline-block;
    width: 193px;
    height: 96px;
}
.content ul li {
    margin-bottom: 3px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-indent: 2px;
    background: rgb(211, 209, 209);
    cursor: pointer;
}
.content .active {
    color: white;
    background: gray;
}