div, p {
    margin: 0;
}
#wrap {
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    background: lightskyblue;
}
.clear {
    zoom: 1;
}
.clear:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
h2 {
    float: left;
    margin: 0;
    padding: 5px;
    font-size: 20px;
    text-indent: 15px;
    width: 172px;
    border-bottom: 1px solid black;
}
ul {
    float: right;
    position: relative;
    top: 17px;
    margin: 0;
    padding: 0;
    border-right: 1px solid black;
}
ul li {
    float: left;
    list-style: none;
    padding: 0 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
    cursor: pointer;
}
ul .active {
    font-weight: bold;
    background: white;
    border-bottom: 1px solid transparent;
}
ol {
    margin: 0;
    padding: 0;
}
ol li {
    list-style: none;
    padding: 5px 0 5px 20px;
    border-bottom: 1px dashed white;
    cursor: pointer;
}
ol li div {
    display: none;
}
ol .active p{
    display: none;
}
ol .active div {
    display: block;
    height: 50px;
    background: white;
}